h2 {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  color: #5e9e86;
  text-align: center;
  letter-spacing: 3px;
  margin-top: 300px;
}
p {
  font-family: "Quicksand", sans-serif;
  text-align: justify;
  font-size: 17px;
  color: #1c534c;
  margin-left: 400px;
  margin-right: 400px;
}
